body {
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(255, 230, 230);
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    background-color: rgb(128, 179, 255);
    max-width: 20%;
    min-width: 20%;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 900px) {
    #container {
        min-width: 30%;
        max-width: 30%;
    }
    
}

@media (max-width: 500px) {
    #container {
        max-width: 100%;
    }
    
}
div {
    max-width: 95%;
    min-width: 95%;
    background-color: rgb(134, 133, 133);
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.different {
    display: flex;
    justify-content: center;
    
}

h2 {
    margin: 0;
}

h6 {
    margin: 8px;
    font-size: 0.7em;
}

button {
    min-width: 100%;
    max-width: 100%;
    min-height: max-content;
    background-color: gray;
    border: none;
    color: white;
    font-weight: bold;
    margin: 0px;
    padding: 5px;
}

button:hover {
    text-shadow: 2px 2px 4px #000000;
}
